@import "./variables";

// #root {
//   height: 100vh;
//   overflow: hidden;
// }

.App {
  // display: flex;
  // margin: 0 auto;
  // height: 100%;
  .mainContent {
    z-index: 1;
    position: relative;
    width: calc($site-max-width - $nav-max-width);
    // height: 200vh;
    // flex: 4;
    // overflow-y: auto;
    padding-left: 75px;
    margin-left: calc((-100vh + $site-max-width) / 2 + $nav-max-width);
    background-color: $color-main-background;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .overflow {
      background-color: $color-main-background;
      right: 0;
    }
  }
}
