@import "./variables";

#root {
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  height: 100%;
  .mainContent {
    z-index: 1;
    height: 200vh;
    flex: 4;
    overflow-y: auto;
    padding-left: 75px;
    background-color: $color-main-background;
    &::-webkit-scrollbar {
      display: none;
    }
    .overflow {
      background-color: $color-main-background;
      right: 0;
    }
  }
}
