$site-max-width: 1366px;
$transition-duration: 0.22s;
// Colors
$color-accent: #f6483b;
$color-secondary: #a6a6a6;
$color-secondary-darker: #202020;
$color-box: #111111;
$color-main-background: #010101;
$color-white: #ffffff;

// Fonts
@font-face {
  font-family: "Futura";
  src: local("Futura"), url("../fonts/Futura-Med.woff2") format("woff2"),
    url("../fonts/Futura-Med.woff") format("woff"),
    url("../fonts/Futura-Med.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: local("Futura"), url("../fonts/Futura-Boo.woff2") format("woff2"),
    url("../fonts/Futura-Boo.woff") format("woff"),
    url("../fonts/Futura-Boo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
