@import "./variables";
body {
  max-width: $site-max-width;
  margin: 0 auto;
  color: $color-white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 50vw;
  top: 0;
}

a {
  text-decoration: none;
  color: $color-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
