@import "../../../sass/variables";

.resumeSection {
  &__skillItems {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__skillItem {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-box;
    transition: $transition-duration;
    p {
      margin-top: 30px;
      font-family: "Futura";
      font-size: 20px;
    }
    &:hover {
      background-color: lighten($color-box, 5%);
    }
  }
}
