@import 'tailwindcss';
@import url('https://use.typekit.net/xbo5rhh.css');

@theme {
  --font-futura: 'futura-pt', sans-serif;
  --font-montserrat: 'montserrat', sans-serif;

  --color-background: #010101;
  --color-foreground: #ffffff;
  --color-primary: #f6483b;
  --color-secondary: #a6a6a6;
  --color-card: #111111;
  --color-card-hover: #1e1e1e;
  --color-muted: #202020;

  --site-max-width: 1366px;
  --nav-max-width: calc(var(--site-max-width) / 4);

  --breakpoint-*: initial;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: var(--site-max-width);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-montserrat);
  overflow-x: hidden;
  max-width: var(--site-max-width);
  margin: 0 auto;
}
