@import "tailwindcss";
@import url("https://use.typekit.net/xbo5rhh.css");

@theme {
  --font-futura: "futura-pt", sans-serif;
  --font-montserrat: "montserrat", sans-serif;

  --color-background: #010101;
  --color-foreground: #ffffff;
  --color-primary: #f6483b;
  --color-secondary: #a6a6a6;
  --color-card: #111111;
  --color-card-hover: #1e1e1e;
  --color-muted: #202020;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-montserrat);
}
