@import "../../sass/variables";

.navBar {
  width: $nav-max-width;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  // left: calc((-100vh + $site-max-width) / 2);
  display: flex;
  justify-content: center;
  background-color: $color-box;

  &__content {
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    color: $color-secondary;
    transition: $transition-duration;
    svg {
      fill: $color-secondary;
      padding-right: 20px;
      transition: $transition-duration;
    }
    p {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      line-height: 0;
      font-family: "Futura";
    }
    &.active {
      color: $color-white;
      // font-weight: 500;
      svg {
        fill: $color-white;
        stroke: $color-white;
        stroke-width: 0.5px;
      }
    }
    &:hover {
      cursor: pointer;
      color: $color-white;
      svg {
        fill: $color-white;
      }

      transform: translateX(5px) scale(105%);
    }
  }
  &__logo {
    width: 115px;
    height: auto;
    margin-bottom: 50px;
  }
  .overflow {
    background-color: $color-box;
    right: calc((100vh + $site-max-width) / 2 + $nav-max-width);
  }
}
