@import "../../sass/variables";

.socialMediaIcons {
  display: flex;
  gap: 15px;

  svg {
    transition: $transition-duration;
    fill: $color-white;

    &:hover {
      fill: $color-accent;
    }
  }
}
